
{% extends "base.html" %}

{% macro with_errors(field) %}
<div class="field">
    {{ field.label }}
    {% if field.errors %} 
        {{ field(**kwargs) }}
        <div class="ui pointing red label center aligned">
        {% for error in field.errors %}
            {{ error|e }}
        {% endfor %}
        </div>
    {% else %} {{ field(**kwargs) }} {% endif %}
</div>
{% endmacro %}

{% block title %}The Marae - Register{% endblock %}

{% block page_content %}

<div class="ui segment" id="register">
    <div v-if="step==0">
    <h1 class="ui center aligned header">Register - User</h1>
    <div class="ui three steps">
        <div class="active step">
            <i class="user icon"></i>
            <div class="content">
                <div class="title">User Details</div>
                <div class="desciption">A little bit about you</div>    
            </div>
        </div>
        <div class="disabled step">
            <i class="tablet alternate icon"></i>
            <div class="content">
                <div class="title">Verify Account</div>
                <div class="desciption">Enter your verification code</div>
            </div>
        </div>
        <div class="disabled step">
            <i class="phone icon"></i>
            <div class="content">
                <div class="title">Twilio Details</div>
                <div class="desciption">Your Twilio Account Details</div>
            </div>
        </div>
    </div>
    <p>We need to know a few things about you to provide a personalized experience.
        Your mobile number is required to verify your account in the next step, authenticate you on subsequent logins and to enable SMS alerts</p>
    <form class="ui form" method="POST">
        {{ form.hidden_tag() }}
        
        {{ with_errors(form.first_name) }}

        {{ with_errors(form.last_name) }}
        
        {{ with_errors(form.email) }}
       
       {{ with_errors(form.password) }}
       {{ with_errors(form.password2) }}
    <label>Mobile</label>
        <div class="inline fields">
            
            <div class="four wide field">
                {{ form.country_code(class='ui fluid dropdown') }}
            </div>
            <div class="twelve wide field">
                 {% if form.phone_number.errors %} 
                 {{ form.phone_number}}

                <div class="ui left pointing red label">
                    {% for error in form.phone_number.errors %} {{ error }}{% endfor %}
                </div>
                {% else %} {{ form.phone_number}} {% endif %}
                
            </div>
        </div>
        
        {{ form.submit(class='ui button') }}
    </form>
    </div>
    <div v-else>
    <h1 class="ui center aligned header">Register - Twilio Bits</h1>
    <div class="ui three steps">
        <div class="completed disabled step">
            <i class="user icon"></i>
            <div class="content">
                <div class="title">User Details</div>
                <div class="desciption">A little bit about you</div>
            </div>
        </div>
        <div class="completed disabled step">
            <i class="tablet alternate icon"></i>
            <div class="content">
                <div class="title">Verify Account</div>
                <div class="desciption">Enter your verification code</div>
            </div>
        </div>
        <div class="active step">
            <i class="phone icon"></i>
            <div class="content">
                <div class="title">Twilio Details</div>
                <div class="desciption">Your Twilio Account Details</div>
            </div>
        </div>
    </div>
    <p>You'll need to have a Twilio Account to make use of the Marae. If you 
        don't have one, please head to <a href="https://www.twilio.com/try-twilio">Try Twilio</a> and come back when you're done</p>
        <p>If you have an account, but don't have a number, you can click Buy Number below and we'll pick one at random! This will charge your account and can't be reversed! UK NUMBERS ONLY AT THIS TIME</p>
        <form class="ui form" method="POST">
             {{ twilio_form.hidden_tag() }}
            <div class="field">
                {{ twilio_form.twilio_sid.label }} {{ twilio_form.twilio_sid(**{'v-model':'sid'}) }}
            </div>
            <div class="field">
                {{ twilio_form.twilio_token.label }} {{ twilio_form.twilio_token(**{'v-model':'authToken'}) }}
            </div>
            <div class="field">
                {{ twilio_form.twilio_phone.label }} {{ twilio_form.twilio_phone(**{'v-model':'number'}) }}
            </div>

            <div class="inline fields">
                <div class="field">{{ twilio_form.submit(class='ui primary button') }}</div>
                <div class="field">
                    <div class="ui button" @click="testCall">Test Settings</div>
                </div>
                <div class="field">
                    <div class="ui button" @click="buyNumber">Buy a Number</div>
                </div>
            </div>
            <div v-if="message" class="ui message">{% raw %}{{ message }}{% endraw %}</div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %} {{ super() }}
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#register',
        data: {
            steps: ['Personal Details', 'Twilio Settings', 'Confirm'],
            step: "{{ step }}",
            message: '',
            sid: "{{ current_user.twilio_account_sid }}",
            authToken: "{{ current_user.twilio_auth_token }}",
            number: "{{current_user.twilio_number}}"
        },
        methods: {
            testCall: function () {
                var vm = this;
                payload = {
                    twilio_sid: this.sid,
                    twilio_token: this.authToken,
                    number: this.number
                }
                axios.post('/auth/test_call', payload)
                    .then(function (response) {
                        console.log(response);
                        vm.message = 'Test Call Successful! You are correctly set up to access the Marae'
                    }).catch(function (error) {
                        console.log(error);
                        vm.message = error;
                    });

            },
            buyNumber: function() {
                var vm = this;
                axios.post('/auth/buy_number')
                .then(function(response) {
                    console.log(response);
                    vm.number = response.data;
                    vm.message = 'Number purchased and added to your account!'
                }).catch(function (error) {
                    console.log(error);
                    vm.message = error;
                });
            }
        }
    })

</script>
{% endblock %}