{% extends "base.html" %}
{% block title %}The Marae - Confirm{% endblock %}

{% block page_content %}
<div class="ui segment" id="confirm">
    <h1 class="ui header">Enter Confirmation Code</h1>
    <div class="ui three steps">
        <div class="completed disabled step">
            <i class="user icon"></i>
            <div class="content">
                <div class="title">User Details</div>
                <div class="desciption">A little bit about you</div>
            </div>
        </div>
        <div class="active step">
            <i class="tablet alternate icon"></i>
            <div class="content">
                <div class="title">Verify Account</div>
                <div class="desciption">Enter your verification code</div>
            </div>
        </div>
        <div class="disabled step">
            <i class="phone icon"></i>
            <div class="content">
                <div class="title">Twilio Details</div>
                <div class="desciption">Your Twilio Account Details</div>
            </div>
        </div>
        </div>
    <p>We just need to confirm that you own the mobile number you registered with. You should have received a confirmation code by SMS. Please enter it below, or hit resend if you don't have it.</p>
    <form class="ui form" method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.code() }}
        </div>
        <div class="inline fields">
            <div class="field">
                 {{ form.submit(class='ui primary button') }}
            </div>
            <div class="field">
                <div class="ui button" @click="resendCode">Resend Code</div>
            </div>
        </div>
        <div v-if="message" class="ui message">
            {% raw %}{{ message }}{% endraw %}
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#confirm',
        data: {
            message: null
        },
        methods: {
            resendCode: function() {
                var vm = this;
                axios.post('{{ url_for("auth.resend_code") }}')
                .then(function(response) {
                    vm.message = response.data;
                })

            }
        }
    })    
</script>
{% endblock %}