<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/dist/semantic.min.css') }}">
    {% endblock %}
</head>
<body>
    <div class="ui stackable container large top secondary menu" id="nav">
        <div class="header item">
            <a class="ui large header" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='marae.png') }}" />
            The Marae</a>
        </div>
        <div class="right menu">
            {% if current_user.is_authenticated %}
            <div class="item"><a class="ui small header"><i class="users icon"></i>My Conferences</a></div>
            <div class="item"><a class="ui small header" href="{{ url_for('auth.settings') }}"><i class="cog icon"></i>Settings</a></div>
            <div class="item">
                <div>
                    <a class="ui red button" href="{{ url_for('auth.logout') }}">Sign Out</a>
                </div>
            </div>
            {% else %}

            <div class="item">
                <div>
                    <a class="ui red button" href="{{ url_for('auth.login') }}">Sign In</a>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
     {% block content %}
    <div class="ui text container">
        {% for message in get_flashed_messages() %}
        <div class="ui floating warning message">
            <i class="close icon"></i>
            {{ message }}
        </div>
         {% endfor %}
    </div>
     {% endblock %}
    <div class="ui text container">
        <div class="ui segments">
        {% block page_content %}{% endblock %}
        </div>
    </div>
    
    {% block scripts %}
    <!-- {{ moment.include_moment() }} -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='semantic/dist/semantic.min.js') }}"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var nav = new Vue({
            el: '#nav',
            data: {
                rotate: false,
                navItems: ['conference', 'settings']
            },
            methods: {
                startRotate: function(){ 
                    console.log(event);
                    console.log("ID >>>")
                    console.log(event.target.childNodes['0'])
                    event.target.childNodes['0'].className += " loading";
                },
                stopRotate: function () {
                    console.log(event);
                    event.target.childNodes['0'].className -= " loading";
                }
            }
        })

    </script>
    <script>
        $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                        ;
                })
                ;
    </script>
    {% endblock %}
</body>
</html>
