{% extends "base.html" %}
{% block title %}The Marae{% endblock %}
{% block page_content %}
<div class="ui raised very padded text container segment" id="active-conference">
     {% if current_user.is_authenticated %}
    <h1 class="ui header">Kia Ora, {{ current_user.first_name }}!</h1>
    <h3 class="ui header">Your Twilio number is {{ current_user.twilio_number }}. Share it with your friends</h3>
    <div class="ui segment raised">
        <h2 v-if="conferenceParticipants.length<1" class="ui center aligned header">No Active Conference
        <h2 v-else class="ui header">Active Conference</h2>
        <form class="ui form" name="add" v-on:submit.prevent>


            <div class="ui button" v-on:click="newParticipant = !newParticipant" v-if="!newParticipant">
                    <i class="icon user"></i>
                    Add Participant
            </div>
            <div class="ui negative button" v-on:click="newParticipant = !newParticipant" v-if="newParticipant">
                <i class="icon cancel"></i> Cancel
            </div>

            <div v-if="newParticipant">
                
                <div class="field"><label>Participant Number</label></div>
                <div class="field"><input type="text" v-model="newParticipantNumber"></div>
                <div class="ui positive button" v-on:click="dialParticipant">
                        <i class="icon phone"></i>Dial
                    </div>
                   
            </div>
        </form>
        <table v-if="conferenceParticipants.length>0" class="ui celled striped padded table">
            <thead>
                <tr>
                    <th>Speaking?</th>
                    <th>Participant</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(participant, index) in conferenceParticipants" :class="{ negative: participant.muted, positive: participant.speaking, disabled: participant.dropped }">
                    <td class="center aligned"><i v-if="participant.speaking" class="comment large green icon"></i></td>
                    <td>{% raw %}{{ participant.participantNumber }}{% endraw %}</td>
                    <td><i @click="muteParticipant(index)" class="circular red mute icon" :class="{ disabled: participant.dropped, inverted: participant.muted }"></i>
                    <i @click="dropParticipant(index)" class="circular red thumbs down icon"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui segment raised">
        <h2 class="ui header">Previous Conferences</h2>
        <div class="ui styled accordion">
            <div v-for="(conference, index) in previousConferences">
                <div class="title">
                    <i class="dropdown icon"></i> {% raw %}{{conference.name}} - {{conference.dateCreated }}{% endraw %}
                </div>
                <div class="content">
                <div class="accordion">
                    <div class="title"><i class="dropdown icon"></i>Participants</div>
                <div class="content">
                    <table class="ui basic striped celled small compact table">
                        <thead>
                            <tr>
                                <th>Participant</th>
                                <th>Direction</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(participant) in conference.participants">
                                <td>{% raw %}{{ participant.number }}{% endraw %}</td>
                                <td>{% raw %}{{ participant.direction }}{% endraw %}</td>
                                <td>{% raw %}{{ participant.duration }}{% endraw %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    

    {% else %}
    <h1 class="ui header">Kia Ora, stranger!</h1>
    <h3 class="ui header">Welcome to the Marae</h3>
    <p>In New Zealand, when Maori people need to have a meeting, they go to the Marae. Today it's not always convenient to have everyone in the same place. Now you can take control of your Twilio conferences and host them in this virtual Marae.</p>
    <p>If you already have a Twilio account, click on register below and join the whanau</p>
    <div>
        <a class="ui huge fluid green button" href="{{ url_for('auth.register') }}">Register!</a>
    </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/sync/v0.6/twilio-sync.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
<script>
    var currentUserEmail = '{{ current_user.email }}'
    var syncMapSid = '{{ current_user.sync_map_sid }}'
    
</script>
<script src="/static/index.js"></script>
{% endblock %}