{% extends "base.html" %}
{% block title %}Conference UI{% endblock %}
{% block page_content %}
<div class="ui raised very padded text container segment" id="active-conference">
     {% if current_user.is_authenticated %}
    <h1 class="ui header">Kia Ora, {{ current_user.first_name }}!</h1>
    <h3 class="ui header">Your Twilio number is {{ current_user.twilio_number }}. Share it with your friends</h3>
    <div class="ui segment raised">
        <h2 v-if="conferenceParticipants.length<1" class="ui center aligned header">No Active Conference
        <h2 v-else class="ui header">Active Conference</h2>
        <form class="ui form" name="add" v-on:submit.prevent>


            <button class="ui button" v-on:click="newParticipant = !newParticipant">
                    <i class="icon user"></i>
                    Add Participant
                </button>
            <div v-if="newParticipant">
                <label>Participant Number</label>
                <input type="text" v-model="newParticipantNumber">
                <button class="ui button" v-on:click="dialParticipant">
                        <i class="icon user"></i>Dial
                    </button>
            </div>
        </form>
        <table v-if="conferenceParticipants.length>0" class="ui celled striped padded table">
            <thead>
                <tr>
                    <th>Speaking?</th>
                    <th>Participant</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(participant, index) in conferenceParticipants" :class="{ negative: participant.muted, positive: participant.speaking, disabled: participant.dropped }">
                    <td class="center aligned"><i v-if="participant.speaking" class="comment large green icon"></i></td>
                    <td>{% raw %}{{ participant.participantNumber }}{% endraw %}</td>
                    <td><i @click="muteParticipant(index)" class="circular red mute icon" :class="{ disabled: participant.dropped, inverted: participant.muted }"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui segment raised">
        <h2 class="ui header">Previous Conferences</h2>
        <div class="ui accordion" v-for="(conference, index) in previousConferences">
            <div class="title">
                <i class="dropdown icon"></i> {% raw %}{{conference.friendlyName}}{% endraw %}
            </div>
            <div class="content">
                <p>Duration: {% raw %}{{ conference.duration }}{% endraw %}</p>
                <p v-for="(participant) in conference.participants">{% raw %}{{ participant }}{% endraw %}</p>
            </div>
        </div>
    </div>
    {% else %}
    <h1 class="ui header">Kia Ora, stranger!</h1>
    <h3 class="ui header">Welcome to the Marae</h3>
    <p>In New Zealand, when Maori people need to have a meeting, they go to the Marae. Today it's not always convenient to have everyone in the same place. Now you can take control of your Twilio conferences and host them in this virtual Marae.</p>
    <p>If you already have a Twilio account, click on register below and join the whanau</p>
    <div>
        <a class="ui huge fluid green button" href="{{ url_for('auth.register') }}">Register!</a>
    </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/sync/v0.6/twilio-sync.min.js"></script>
<script>
    var currentUserEmail = '{{ current_user.email }}'
    var syncMapSid = '{{ current_user.sync_map_sid }}'
</script>
<script src="/static/index.js"></script>
{% endblock %}